<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxin.mapper.UserMapper">
    <select id="findById" parameterType="int" resultType="com.qianxin.pojo.User">
        SELECT username,age FROM user WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.qianxin.pojo.User">
        INSERT INTO user_info (id,username,age) VALUES (#{id},#{username},#{age})
    </insert>
</mapper>